
{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-ml-6">
                <div class="intro-message">
                    <h3>About Us</h3>
                    <!-- <h2>Infrastructure Platform and Payment Gateway for Esports and Gaming.</h2>     -->
                    <p class="para">DreamTeam is the ultimate teambuilding and skill-growing platform<br> that solves problems for hundreds of millions of gamers who want<br> to find teammates, improve skills, manage teams, and earn money.<br> And with the unlocking of blockchain and smart contract technologies,<br> DreamTeam is building a one-of-a-kind payment gateway for players,<br> teams, tournaments, and sponsors.</p>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
